*
{   box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: #ebe9e9;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #e6a365;
    color: #ffffff;
    position: fixed;
    
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header ul {
    list-style-type; none;
}

.header ul li {
    display: inline-block;
    margin-left: 25px;
}

.navbar {
    background-color: #91908c;
    color: #ffffff;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 442px;
    width: 65%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 15px;
    
}

.navbar ul {
    list-style-type: none;
    text-align: right;
       
}

.navbar ul li {
    display: inline;
    margin-left: 25px;
    margin-right: 10px ;
    
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.subtitle{
    background-color: #91908c;
    color: #ffffff;
    margin-left: 442px;
    width: 65%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 47px;
    text-align: center;
}


 .aboutme {
    padding-top: 20px;
    width: 25%;
    margin: 15px;
    background-size: cover;
    background-position: center;
    float: left;
    font-size: 25px;
}

.aboutme img{
    border-width: 20px;
    border-color: #e6a365;
}

.aboutme ul {
    list-style-type: none;
    text-align: center ;
       
}

.content {
    width: 65%;
    margin-left: 442px;
      
    
}
.content-article {
    margin: 20px;
    padding: 10px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #e6a365;
    color: #ffffff;
    transition: all 0.2s ease-in-out;
}

.content-article img {
        max-height: 280px;
        max-width: 100%;
        height: auto;
}

.content-article:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 25px rgb(182, 143, 92);

  }

.content-image 
    .flex-inner {
        width: 200px;
        height: 200px;
        resize: both;
        overflow: auto;
      }
               
img {
        object-fit: cover;
        width: 100%;
      }

.content-article h2 {
    position: absolute;
    font-size: 36px;
}
.content-article p{
    position: absolute;
    padding-top: 50px;
}

.feature {
    margin: 20px;
    padding: 10px;
    height: 600px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #e6a365;
    color: #ffffff;
    transition: all 0.2s ease-in-out;
}

.feature img {
        max-height: 580px;
        max-width: 100%;
        height: auto;
}

.feature:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 25px rgb(182, 143, 92);
}

.feature h2 {
    position: absolute;
    font-size: 36px;
}
.feature p{
    position: absolute;
    padding-top: 50px;
    font-size: 25px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}

  